.facc h1{
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #77CE89;
}

.container1{
    display: flex;
    margin: 2rem;
    justify-content: space-evenly;
}

.facility1{
    padding: 30px;
    height: 300px;
    width: 350px;
    background-color: rgb(216, 249, 210);
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #aaaaaa;
}

.facility1:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
}

.facility2{
    padding: 30px;
    height: 300px;
    width: 350px;
    background-color: rgb(216, 249, 210);
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #aaaaaa;
}

.facility2:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
}

.facility3{
    padding: 30px;
    height: 300px;
    width: 350px;
    background-color: rgb(216, 249, 210);
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #aaaaaa;
}

.facility3:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
}

.facility4{
    padding: 30px;
    height: 300px;
    width: 350px;
    background-color: rgb(216, 249, 210);
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #aaaaaa;
}

.facility4:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
}