.romm_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

.romm h1{
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #77CE89;
}

.room1{
    height: 300px;
    width: 350px;
    background-color: antiquewhite;
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #aaaaaa;
}

.room1:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
}

.room1:hover::after{
    transition: .4s ease;
}

h2{
    padding: 10px;
    text-align: center;
    font-weight:900;
    font-family: 'Courier New', Courier, monospace;
}

.room2{
    height: 300px;
    width: 350px;
    background-color: antiquewhite;
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #aaaaaa;
}

.room2:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
}

.room3{
    height: 300px;
    width: 350px;
    background-color: antiquewhite;
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #aaaaaa;
}

.room3:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
}