.room_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

.room h1{
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #77CE89;
}

.room1{
    height: 300px;
    width: 350px;
    background-color: antiquewhite;
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #a1e5af;
}

.room1:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
    box-shadow: none;
}

.room1:hover::after{
    transition: .4s ease;
}


h2{
    padding: 10px;
    text-align: center;
    font-weight:900;
    font-family: 'Courier New', Courier, monospace;
}

.room2{
    height: 300px;
    width: 350px;
    background-color: antiquewhite;
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #a1e5af;
}

.room2:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
    box-shadow: none;
}

.room3{
    height: 300px;
    width: 350px;
    background-color: antiquewhite;
    border-radius: 2rem;
    box-shadow: 7px 7px 10px #a1e5af;
}

.room3:hover{
    transform: scale(1.05);
    transition: .2s ease-out;
    box-shadow: none;
}

.room-info {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0 0 2rem 2rem;
    border: 1.5px solid #77CE89;
    transition: top 0.3s ease;
    display: none;
  }
 
.room_section:hover .room-info {
    display: block;
    top: 100%;
    position: fixed;
  } 